@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather&family=Oswald&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font {
  font-family: 'Anton', sans-serif;
}

.face-font {
  font-family: 'Oswald', sans-serif;
}

.back-font {
  font-family: 'Merriweather', serif;
}
